<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>menu lateral</p>
      @if (showFiller) {
        <p>accion menu lateral funcionando</p>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Boton accion 
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
          </mat-toolbar>
        <app-users></app-users>  
    </div>
  
  </mat-drawer-container>
  